
$white: #fff;
$gray-100: #f8f9fa;
$gray-400: #ced4da;
$gray-600: #888;
$gray-700: #5a5a5a;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$orange: #fd7e14;
$yellow: #FFCE67;
$green: #56CC9D;
$teal: #20c997;
$cyan: rgb(134, 220, 238);
$primary: rgb(248, 168, 172);
$secondary: $cyan;
$success: $green;
$info: rgb(134, 202, 182);
$warning: $yellow;
$red: rgb(233, 98, 111);
$danger: $red;
$light: $gray-100;
$dark: $gray-800;
$body-color: $gray-600;
$headings-color: $gray-700;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $secondary;
$navbar-dark-color: rgba($white,.6);
$navbar-dark-hover-color: $white;