<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="POST" action="login">
        <h3 class="mb-3">Login</h3>
        <div class="form-group">
          <label for="inputUsername">Username</label>
          <input type="username" class="form-control" id="inputUsername" name="username" placeholder="Please enter username...">
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Please enter password...">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <div class="mt-3">
          <span>Don't have an account?</span>
          <a href="/register" class="btn btn-link">Sign up!</a>
        </div>
      </form>
    </div>
  </div>
</div>