<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="POST" action="register">
        <h3 class="mb-3">Sign up</h3>
        <div class="form-group">
          <label for="inputUsername">Username</label>
          <input type="username" class="form-control" id="inputUsername" name="username" placeholder="Please enter username...">
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Please enter password...">
        </div>
        <button type="submit" class="btn btn-primary">Continue</button>
        <button type="button" class="btn btn-secondary" onclick="history.back();">Cancel</button>

      </form>
    </div>
  </div>
</div>