.form-group,
.btn,
.form-control {
  margin-bottom: 1rem; 
  margin-top: 0.5rem;
}

/* #main-title {
    text-align: center;
    font-family: fantasy;
    margin-top: 3rem;
    margin-bottom: 3rem;
} */
.navbar {
    padding-top: 1rem; 
    padding-bottom: 1rem; 
    font-size: 1.5rem; 
  }
  
  .navbar-brand {
    font-size: 2rem; 
    font-family: fantasy; 
  }
  

.login-status {
    position: absolute;
    top: 1em;
    right: 1em;
}

.list-group-item a {
    margin: 0 auto; 
    width: fit-content; 
}

.list-group-item .form-control {
    width: 300px; 
    /* max-width: 500px; */
}

#creater {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%; 
}

.list-group-item form .form-control,
.list-group-item form button[type="submit"] {
    vertical-align: middle;
    margin: auto;
    margin-right: 5px;
}